/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .logo_container {
    display: flex;
    width: 500px;
  }

  .logo {
    flex: 0 1 0;
}
  
body {
    display: flex;
    margin: 20px;
   }

.header_of_tasks {
    display: flex;
}

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main {
  
}

.icon {
  height: 40px;
  width: 40px;
}

.newproject {
  display: flex;
  background-color: black;
  border-radius: 20px;
  justify-content: space-around;
}

.edit_project_button {
  background-color: black;
  color: white;
  border-style: none;
}

.edit_project_button:active{
  background:olive;
}


.project_name {
  justify-content: center;
  color: beige;
}

.projects_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add_project {
  display: flex;
  width: 300px;
  border-radius: 20px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

